%h1 Sign in

- form_tag sessions_url do
  %fieldset
    .set
      = label_tag :email, nil, :class => :textbox
      = text_field_tag :email, params[:email], :class => :textbox
    .set
      = label_tag :password, nil, :class => 'textbox'
      = password_field_tag :password, params[:password], :class => :textbox
  %button(type="submit") Sign in

