<span id="other_payment_method_buttons" class="<%= @paying_with_credit_card ? 'hidden' : nil %>">
  <button type="submit" class="btn" name="payment_method_type" value="sprel">Pay via Sprel</button>
  <button type="submit" class="btn" name="payment_method_type" value="paypal">Pay via Paypal</button>
  <br/>
  <br/>
  <button type="submit" class="btn" name="payment_method_type" value="gocardless">Pay via GoCardless</button>
  <button type="submit" class="btn" name="payment_method_type" value="dwolla">Pay via Dwolla</button>
</span>
