

%h1 Buy a TShirt

Well... not really.  We'll charge you $0.02 but we won't send you shirt.

%h3 Payment Information

= error_messages_for 'credit_card', :object_name => "credit card"
- form_for :credit_card, @credit_card, :url => "http://core.dev:3003/v1/payment_methods" do |f|
  = hidden_field_tag :redirect_url, transparent_redirect_complete_url
  = hidden_field_tag :api_login, SpreedlyCore.api_login
  = render 'tshirts/payment_form_fields', :f => f
  %button(type="submit") Submit Payment
