.grid_8.prefix_2.suffix_2
  %h1 
    = link_to_unless_current "Home", root_url
    > Whooo Hooo!

.grid_8.prefix_2.suffix_2
  .panel.paddedLeft.paddedRight
    %p
      You have successfully made a purchase.  Well done.


    %p
      = link_to "Make another purchase!", buy_tshirt_url
