<div class="container">
  <div class="page-header">
    <h1>Whooo Hooo!</h1>
    <h2>
      <small>You have successfully made a purchase.  Well done.</small>
    </h2>
  </div>

  <p class="lead">
    <%= link_to "Buy more stuff!", root_url %>
  </p>

</div>
