<div class="container">
  <div class="page-header">
    <h1>Whooo Hooo!</h1>
    <h2>
      <small>
        <p>You have successfully made a purchase.  Well done!</p>
        <p>The funds will be withdrawn from your account soon.</p>
      </small>
    </h2>
  </div>

  <p class="lead">
    <%= link_to "Buy more stuff!", root_url %>
  </p>

</div>

