<div class="grid_8 prefix_2 suffix_2">
  <h1>
    <%= link_to_unless_current "Home", root_url %>
    &gt; Whooo Hooo!
  </h1>
</div>

<div class="grid_8 prefix_2 suffix_2">
  <div class="panel paddedLeft paddedRight">
    <p>
      The purchase successfully went through.  The funds will be transferred soon.
    </p>

    <p>
      <%= link_to "Home", root_url %>
    </p>
  </div>
</div>
