<div class="container">
  <div class="page-header">
    <h1>Whooo Hooo!</h1>
    <h2>
      <small>
        <p>You have successfully authorized us to charge you.  Well done!</p>
        <p>We'll charge you the first time once we start packaging up the first pet.</p>
      </small>
    </h2>
  </div>

  <p class="lead">
    <%= link_to "Buy more stuff!", root_url %>
  </p>

</div>
