<div class="grid_8 prefix_2 suffix_2">
  <h1>
    <%= link_to_unless_current "Home", root_url %>
    &gt; Admin
  </h1>
</div>

<div class="grid_8 prefix_2 suffix_2">
  <div class="panel paddedLeft paddedRight">
    <p>
      This is the fake admin area.  It's here solely to demonstrate how one might
      initate a purchase using a delayed authorization such as a pre-authorization
      from GoCardless.
    </p>
    <p>
      Here are the payments methods we've saved when someone signed up for our Endangered Pet of the Month Club:
    </p>

    <ul>

    </ul>
  </div>
</div>
