
#flash {
  text-align:left;
  margin: 0;
}

#flash p {
  margin:0px;
  padding: 0.5em;
}

#flash.notice p {
  font-size: 1.2em;
  color:#690;
}

#flash.warning p {
  color:#F00;
  font-size: 1.2em;
  font-weight: bold;
}

#flash.error p {
  color:#F00;
  font-size: 1.2em;
  font-weight: bold;
}
