<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>


  <p>
    This is a sample application designed to demonstrate how to use <%= link_to "Spreedly", "https://spreedlycore.com" %> to collect money
    using credit cards and a variety of other payment methods.
  </p>

  <p>
    It's all <a href="https://github.com/spreedly/core_sample/tree/offsite">open source and on Github</a> for you to use.  It's the offsite branch of the sample application.
  </p>

</div>
