<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>


  <p>
    This is a sample application designed to demonstrate how to use <%= link_to "Spreedly", "https://spreedlycore.com" %> to collect money
    using credit cards and a variety of other payment methods.
  </p>

  <p>It uses the <a href="https://github.com/jnunemaker/httparty">httparty</a> gem to talk to the Spreedly API.</p>

  <p>
  It's all <a href="https://github.com/spreedly/sample-endangered-pets">open source and on Github</a> for you to use.  We also have a number of <a href="https://docs.spreedly.com/resources/apps-libs/">other sample applications</a> you might find useful.
  </p>

  <br/>
  <p>
    <small>
      Thanks to <a href="http://www.cuberto.ru">Cuberto</a> for the cat icon.
    </small>
  </p>


</div>
