<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>


  <p>
    This is a sample application designed to demonstrate how to use <%= link_to "Spreedly Core", "https://spreedlycore.com" %> to collect money using credit cards.
  </p>

  <p>
    It's all <a href="https://github.com/spreedly/core_sample">open source and on Github</a> for you to use.
  </p>

</div>
