<div class="container">
  <div class="page-header">
    <h1><%= APP_NAME %></h1>
    <h2>
      <small>Credit Cards Payments Only</small>
    </h2>
  </div>

  <p class="lead">
    <%= link_to "Buy T-Shirts", tshirts_buy_url %>
  </p>
  <p class="lead">
    <%= link_to "Endangered Pet of the Month Club", pets_subscribe_url %>
  </p>
  <p class="lead">
    <%= link_to "Admin", admin_url %>
  </p>

</div>
