<div class="container">
  <div class="page-header">
    <h1>Home</h1>
  </div>

  <p class="lead">
    <%= link_to "Buy T-Shirts", tshirts_buy_url %>
  </p>
  <p class="lead">
    <%= link_to "Endangered Pet of the Month Club", pets_subscribe_url %>
  </p>
  <p class="lead">
    <%= link_to "Admin", admin_url %>
  </p>

</div>
