<div class="container">
  <div class="page-header">
    <h1><%= APP_NAME %></h1>
    <h2>
      <small>Get 'em while supplies last.</small>
    </h2>
  </div>

  <p class="lead">
    <%= link_to "Buy Pets", pets_buy_url %>
  </p>
  <p class="lead">
    <%= link_to "Endangered Pet of the Month Club", pet_club_subscribe_url %>
  </p>
  <p class="lead">
    <%= link_to "Admin", admin_url %>
  </p>

</div>
