<div class="container">
  <div class="page-header">
    <h1>Whooo Hooo!</h1>
    <h2>
      <small>The purchase successfully went through.  The funds will be transferred soon.</small>
    </h2>
  </div>

  <p class="lead">
    <%= link_to "Home", root_url %>
  </p>

</div>
