api_login: "OB9909MNZj62u9U4VAz3lAAPZcp"
api_secret: "MIMo7gJrSi3LnJGdRrOZeBBowXmDVE4zEgyHQS91tIqZiJ2oiy6PRt5XJVXG7hcz"
payment_methods:
  credit_card: "8BLQV534EOmJfbMwHfvNVXnuJUl"
  sprel: "bBLQV336EOmJfbMwHfvNVXnuJUl"
  dwolla: "1BLQV532EOmbfbMwH8vNVXnuJUl"
  paypal: "4rLQV532ErmJfrMwrfvNVXnuJUl"
  gocardless: "9rrQV332RrmKfrMwbfvWVXnuJUl"
