api_login: "OB9909MNZj62u9U4VAz3lAAPZcp"
api_secret: "MIMo7gJrSi3LnJGdRrOZeBBowXmDVE4zEgyHQS91tIqZiJ2oiy6PRt5XJVXG7hcz"
core_domain: "https://spreedlycore.com"

gateway_token_for_payment_method:
  sprel: "StuXzUJ5Khe3Wes31T0M4uNnjv9"
  credit_card: "StuXzUJ5Khe3Wes31T0M4uNnjv9"
  dwolla: "rRrNqN3NcFRokpYMvY6TxyPrXDg"
  paypal: "9Y5byWM9nMcas972qfvKEce4eMa"
  gocardless: "LmeT3035Un1ILf8fiHliLrLr13y"

